@inherits LayoutComponentBase

<RadzenComponents />

<PageTitle>FinanceManagementTool1</PageTitle>

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth rz-background-color-info-light">
            <LoginDisplay />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
